<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contagem de Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Controle de Estoque</h1>

    <!-- Tabela de Estoque -->
    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
        </tr>
        {% for produto, quantidade in estoque.items() %}
        <tr>
            <td>{{ produto }}</td>
            <td>{{ quantidade }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Formulário para Adicionar Produtos -->
    <form action="/adicionar" method="post">
        <label for="produto">Nome do Produto:</label>
        <input type="text" name="produto" id="produto" placeholder="Digite o nome do produto" required>
        <label for="quantidade">Quantidade:</label>
        <input type="number" name="quantidade" id="quantidade" placeholder="Digite a quantidade" required>
        <button type="submit">Adicionar Produto</button>
    </form>

    <!-- Formulário para Remover Produtos -->
    <form action="/remover" method="post">
        <label for="produto-remover">Nome do Produto:</label>
        <input type="text" name="produto" id="produto-remover" placeholder="Digite o nome do produto" required>
        <label for="quantidade-remover">Quantidade:</label>
        <input type="number" name="quantidade" id="quantidade-remover" placeholder="Digite a quantidade" required>
        <button type="submit">Remover Produto</button>
    </form>

    <!-- Formulário de Pesquisa Avançada -->
    <h2>Pesquisa Avançada</h2>
    <form action="/pesquisa" method="post">
        <label for="nome">Nome do Produto:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite parte ou o nome completo do produto" required>
        <button type="submit">Pesquisar</button>
    </form>

    <!-- Resultados da Pesquisa -->
    {% if resultados is not none %}
        <h2>Resultados da Pesquisa</h2>
        {% if resultados %}
            <table>
                <tr>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
                {% for produto, quantidade in resultados.items() %}
                <tr>
                    <td>{{ produto }}</td>
                    <td>{{ quantidade }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Nenhum produto encontrado.</p>
        {% endif %}
    {% endif %}

    <footer>
        <p>Desenvolvido por Smailler da Silva</p>
    </footer>
</body>
</html>
